body{

	margin: 0;
}

.nav-container{

	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #000000;
	display: flex;
	padding: 12px;
	font-size: 12px;


}

#vehicles{

	font-family: arial;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding: 0px 14px 0px 0px;

}

#menu{

	font-weight: lighter;
	font-family: arial;
	text-decoration: none;
	color: #ffffff;
}